// Variables

// Typography

$font-stack-headings: 'Tinos', serif;
$font-stack-body: 'Nunito', sans-serif;

// Colors

$primary-lightest: #DDD9FF;
$primary-light: #B6ADFF;
$primary-medium: #280069;
$primary-dark: #140033;
$accent-regular: #A91FB5;
$accent-bright: #AB1D78;
