html {
  background: $primary-medium;
  color: $primary-light;
  font-family: $font-stack-body;
  font-size: 16px;
  margin: 0 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

// Global Text Styles Mobile-First

h1 {
  font-family: $font-stack-headings;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  padding: 5%;
  a {
    text-decoration: none;
    color: $primary-light;
  }
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding-top: 5%;
}

p {
  margin: 1%;
  padding: 2%;
  line-height: 1.3rem;
  a {
    &:hover {
      color: $accent-regular;
    }
    &:active {
      color: $accent-bright;
    }
  }
}

ul {
list-style: disc;
line-height: 1.5rem;
padding: 2%;
}

li {
  padding: 1%;
}

// Global Text Styles Desktop

@media screen and (min-width: 1024px) {
  
  html {
      font-size: 18px;
  }

  h1 {
      padding: 2%;
  }

  p {
      padding: 1%;
  }
}

// Navigation

nav {
  background-color: $primary-medium;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-bottom: 1%;
  li {
    display: inline-block;
    padding: 0 1% 1% 0;
    a {
      text-decoration: none;
      color: $primary-light;
      &:hover {
        color: $accent-regular;
      }
      &:active {
        color: $accent-bright;
      }
    }
  }
}

.activepage {
  color: $accent-regular;
}

// Banners Mobile-first

.banner {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
}

.hero-content-home {
  width: 100%; 
  padding: 5% 0;
  color: #FFF;
  position: relative;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.quote {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 5%;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  span {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 5%;
  }
}

.hero-content {
  width: 100%;
  padding: 5% 0 0 0;
  background-color: $primary-lightest;
  opacity: 75%;
  position: absolute;
  bottom: 10%;
}

.title {
  color: $primary-medium;
}

.subtitle {
  color: $primary-medium;
  background-color: $primary-lightest;
  opacity: 80%;
  position: absolute;
  bottom: 20%;
  padding: 2% 0;
}

.mission {
  padding: 5%; 
  background-color: $primary-lightest;
   color: $primary-medium;
}

// Banners Desktop

@media screen and (min-width: 1024px) {

  .banner {
  background-position: center;
  height: 750px;
  }

  .mission {
    padding: 5% 10%;
  }
}

// Banner Images

#banner-home {
  background-image: url("../images/heartstrings_folk_fest_michael_penn.jpg");
  background-position: bottom;
}

#banner-instructor {
  background-image: url("../images/lisa-mountain.jpg");
  background-position: top;
}

#banner-lessons {
  background-image: url("../images/janes_family_768x1024.jpg");
  background-position: center;
}

#banner-suzuki {
  background-image: url("../images/suzuki-recital.jpg");
  background-position: center;
}

#banner-resources {
  background-image: url("../images/recital-summer.jpg");
  background-position: center;
}

#banner-contact {
  background-image: url("../images/shirt_from_erin.jpg");
  background-position: center;
}

// Global Grid Classes Mobile-First

.block {
  padding: 10% 5%;
  span {
    font-size: 0.75rem;
  }
}

.dark {
  background-color: $primary-medium;
  color: $primary-lightest;
  a {
    color: $primary-lightest;
  }
}

.light {
  background-color: $primary-lightest;
  color: $primary-medium;
  a {
    color: $primary-medium;
  }
}

figcaption {
  font-weight: 100 italic;
  font-size: 0.8rem;
  font-style: italic;
}

.center {
      text-align: center;
}


// Global Grid Classes Desktop

@media screen and (min-width: 1024px) {
  .block {
    padding: 5% 20%;    
  }
}

// Instructor Page Mobile-First

/* since it stacks automatically, not defining a grid for mobile or tablet */

// Instructor Page Desktop

@media screen and (min-width: 1024px) {

  #banner-instructor, #banner-suzuki {
    height: 750px;
    background-position: top 25% right 10%;
    grid-area: banner;
  }

  
  #instructor {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "banner banner"
        "intro intro"
        "photo photo"
        "left1 right1"
        "left2 right2"
        "left3 right3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 750px, repeat(5, 500px);
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;
  
    section {
        display: grid;
        align-content: center;

    }
  
    .intro {
      grid-area: intro;
      align-self: center;
    }

    .photo {
      grid-area: photo;
      display: none;
    }

    .text-1 {
      grid-area: left1;
      align-self: stretch;
    }

    .photo-1 {
      grid-area: right1;
      align-self: stretch;
    }

    .photo-2 {
      grid-area: left2;
      align-self: stretch;
    }

    .text-2 {
      grid-area: right2;
      align-self: stretch;
    }

    .text-3 {
      grid-area: left3;
      align-self: stretch;
    }

    .photo-3 {
      grid-area: right3;
      align-self: stretch;
    }
  }
}

// Suzuki Page Mobile-First

/*
.block {
  padding: 5% 2.5%;
}
*/

// Suzuki Page Desktop

@media screen and (min-width: 1024px) {
  
  #suzuki {
    display: grid;
    width: 100%;
    grid-template-areas:
        "banner banner banner banner"
        "left1 left1 left1 right1"
        "left2 right2 right2 right2"
        "left3 left3 left3 right3"
        "more more more more";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 750px, repeat(4, minmax(500px, 1fr));
        justify-items: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: center;
        grid-auto-flow: row;

        section {
          display: grid;
          align-content: center;
        }

        .banner {
          height: 750px;
          background-position: top 25% right 10%;
          grid-area: banner;
        }
  
        .text-1 {
          grid-area: left1;
          align-self: stretch;
        }
  
        .photo-1 {
          grid-area: right1;
          align-self: stretch;
          background-color: $primary-light;
        }
  
        .photo-2 {
          grid-area: left2;
          align-self: stretch;
          background-color: $primary-medium;
        }
  
        .text-2 {
          grid-area: right2;
          align-self: stretch;
        }
  
        .text-3 {
          grid-area: left3;
          align-self: stretch;
        }
  
        .photo-3 {
          grid-area: right3;
          align-self: stretch;
          background-color: $primary-light;
        }
  
        .more {
          grid-area: more;
          align-self: stretch;
          text-align: center;
        }
  }      
}

// Lessons Page Mobile-First

.tips {
  background-image: url("../images/allieonlineviolin_1024x768.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
}

// Lessons Page Desktop

@media screen and (min-width: 1024px) {
  
  #lessons {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "banner banner"
        "wide1 wide1"
        "wide2 wide2"
        "wide3 wide3"
        "wide4 wide4"
        "photo photo"
        "left right";
    grid-template-columns: 50% 50%;
    grid-template-rows: 750px, repeat(4, 500px), 600px, repeat(2, 500px);
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;

    section {
        display: grid;
        align-content: center;
    }

    .banner {
        height: 750px;
        background-position: top 25% right 10%;
        grid-area: banner;
    }

    .text-1 {
        grid-area: wide1;
    }

    .text-2 {
        grid-area: wide2;
    }

    .text-3 {
        grid-area: wide3;
    }

    .text-4 {
        grid-area: wide4;
    }

    .photo {
        grid-area: photo;
    }

    .tips {
        height: 600px;
    }

    .online-lessons {
        grid-area: left;
    }

    .studio-lessons {
        grid-area: right;
    }
  }
}

// Resources Page Mobile-First

#resources {
  p {
    text-align: center;
  }
}

// Resources Page Desktop

@media screen and (min-width: 1024px) {
  #resources {
    .banner {
      height: 750px;
      background-position: top 25% right 10%;
    }
  }
}

//Contact Page Mobile-First

#contact {
  text-align: center;
}

// Footer Mobile-First

footer {
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  span {
    display: inline-block;
    font-size: 0.75rem;
    text-align: center;
 }
}

.icons {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
}

.logo {
   width: 25%;
}

.footeritem {
   padding: 2%;
}

.copyright {
   text-align: center;
   width: auto;
}


// Footer Tablet

@media screen and (min-width: 768px) {

  footer {
      background-color: $primary-dark;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0.5%;
  }
  
   .icons {
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1%;
  }
  

  .footeritem {
      width: 33%;
      text-align: center;
   }

}

// Images Mobile-First

figure {
  width: 100%;
  padding: 0 0;
  margin: 0 0;

}

img {
  width: 100%;
}

// Images Desktop

@media screen and (min-width: 1024px) {

  figure {
    img {
    display: block;
    overflow: hidden;
    min-width: 500px;
    min-height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    }
  }
}