.banner {
    background-image: url("../images/suzuki-recital.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

.hero-content {
    width: 100%;
    /*margin: 20% 10%;*/
    padding: 5% 0 0 0;
    background-color: #DDD9FF;
    opacity: 75%;
    position: absolute;
    bottom: 10%;
  }

.title {
    color: #280069;
}

.block {
    padding: 5% 2.5%;
}


/* Desktop Styles */

@media screen and (min-width: 1024px) {
    

    /* Two-column layout*/
    /*
    main {
        display: grid;
        width: 100%;
        grid-template-areas:
            "banner banner"
            "left1 right1"
            "left2 right2"
            "left3 right3"
            "more more";
        grid-template-columns: 50% 50%;
        grid-template-rows: 750px, repeat(5, 500px);
        justify-items: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: center;
        grid-auto-flow: row;
    }
    */

    /*Three-column layout*/
    
    main {
        display: grid;
        width: 100%;
        grid-template-areas:
            "banner banner banner banner"
            "left1 left1 left1 right1"
            "left2 right2 right2 right2"
            "left3 left3 left3 right3"
            "more more more more";
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 750px, repeat(4, minmax(500px, 1fr));
            justify-items: stretch;
            justify-content: space-evenly;
            align-items: stretch;
            align-content: center;
            grid-auto-flow: row;
    }

    section {
        display: grid;
        align-content: center;

    }
    

    /*Flexbox Layout*/
/*
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
*/

    figure img {
        display: block;
        overflow: hidden;
        min-width: 500px;
        min-height: 600px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .banner {
        height: 750px;
        background-position: top 25% right 10%;
        grid-area: banner;
    }

    .left1 {
        grid-area: left1;
        align-self: stretch;
    }

    .right1 {
        grid-area: right1;
        align-self: stretch;
        background-color: #B6ADFF;
    }

    .left2 {
        grid-area: left2;
        align-self: stretch;
        background-color: #280069;
    }

    .right2 {
        grid-area: right2;
        align-self: stretch;
    }

    .left3 {
        grid-area: left3;
        align-self: stretch;
    }

    .right3 {
        grid-area: right3;
        align-self: stretch;
        background-color: #B6ADFF;
    }

    .more {
        grid-area: more;
        align-self: stretch;
        text-align: center;
    }


}
